* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 1036px;
  min-height: 480px;
  max-height: 680px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "l p"
  "l t";
  grid-template-rows: 2fr .75fr;
  grid-template-columns: 1fr 3fr;
}

.property-list {
  grid-area: l;
  width: 332px;
  background-color: #aaaaaa;
  overflow-y: scroll;
  padding: 6px;
  ul {
    list-style: none;
    padding-inline-start: 0;
    > li {
      position: relative;
      margin-bottom: .75rem;
      padding-bottom: .5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      row-gap: 4px;
      column-gap: 3px;
      align-items: center;

      > :nth-child(2) {
        text-align: right;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -6px;
        right: -6px;
        height: .5px;
        background-color: #222;
      }
    }
  }
  .list-label {
    text-align: right;
    padding-right: .25rem;
    font-size: 0.75rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.shadow-item {
  position: relative;
  background-color: #aaa;
  padding: .5rem 0;
  vertical-align: middle;
  row-gap: 4px;
  column-gap: 3px;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    right: -6px;
    height: .5px;
    background-color: #222;
  }

  & .drag-handle {
    color: #666;
    scale: 1.5;
    text-align: center;
    transform-origin: left center;
    text-shadow: 1px 1px 1px #bdbdbd;
  }
}

.label {
  font-size: 0.75rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.tools {
  grid-area: t;
  background-color: #c0c0c0;
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  padding: .5rem;

  .tools-global {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.picker {
  position: relative;
}

.picker-input {
  display: flex;
  justify-content: space-around;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;
}
