.row {
    display: flex;
    flex-direction: row;
}
.justify-around { justify-content: space-around; }
.justify-center { justify-content: center; }
.align-middle { align-items: center; }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-24 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-1 { grid-column-start: span 1; }
.col-2 { grid-column-start: span 2; }
.col-3 { grid-column-start: span 3; }
.col-4 { grid-column-start: span 4; }
.col-5 { grid-column-start: span 5; }
.col-6 { grid-column-start: span 6; }
.col-7 { grid-column-start: span 7; }
.col-8 { grid-column-start: span 8; }
.col-9 { grid-column-start: span 9; }
.col-10 { grid-column-start: span 10; }
.col-11 { grid-column-start: span 11; }
.col-12 { grid-column-start: span 12; }

.col-13 { grid-column-start: span 13; }
.col-14 { grid-column-start: span 14; }
.col-15 { grid-column-start: span 15; }
.col-16 { grid-column-start: span 16; }
.col-17 { grid-column-start: span 17; }
.col-18 { grid-column-start: span 18; }
.col-19 { grid-column-start: span 19; }
.col-20 { grid-column-start: span 20; }
.col-21 { grid-column-start: span 21; }
.col-22 { grid-column-start: span 22; }
.col-23 { grid-column-start: span 23; }
.col-24 { grid-column-start: span 24; }
