.preview-window {
    grid-area: p;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-item {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.preview-item.selected {
    filter: drop-shadow(0 0 5px #ffd900);
}
