.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }

.w-100 { width: 100%; }
.w-90 { width: 90%; }
.w-80 { width: 80%; }
.w-70 { width: 70%; }
.w-60 { width: 60%; }
.w-50 { width: 50%; }
.w-40 { width: 40%; }
.w-30 { width: 30%; }
.w-20 { width: 20%; }
.w-10 { width: 10%; }

.mx-1 { margin-left: .25rem !important; margin-right: .25rem !important; }
.mx-2 { margin-left: .5rem !important; margin-right: .5rem !important; }
.mx-auto { margin-left: auto; margin-right: auto; }

.mt-1 { margin-top: .25rem !important; }
.mt-2 { margin-top: .5rem !important; }

.mr-1 { margin-right: .25rem !important; }
.mr-2 { margin-right: .5rem !important; }

.mb-1 { margin-bottom: .25rem !important; }
.mb-2 { margin-bottom: .5rem !important; }

.ml-1 { margin-left: .25rem !important; }
.ml-2 { margin-left: .5rem !important; }
